/* fonts 
@font-face {
  font-family: Hamburger;
  src: url(../font/Hamburger.ttf);
}
*/

/* base styles */

body {
	margin: 0;
	padding: 0;
}

p {
  margin: 0 0 10px 0;
}

#title {
	padding: 20px;
}

#threejs-container {
	border: 1px solid black;
	top: 50px;
	bottom: 10px;
	position: absolute;
	left: 10px;
	right: 10px;
}

#threejs-container canvas {
	z-index: -10;
	position: relative;
}